body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

.search-bar {
  width: 100%;
}

.search-field {
  width: 85%;
}

.container-full {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  white-space: nowrap;
}

.container-full > div {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

#title {
  font-size: 24pt;
  /*text-align: center;*/
  padding-left: 40px;
  color: #ffd54f;
  display: block;
  margin: 10px auto;
}

.user-details {
  margin-bottom: 250px;
}

.side-nav {
  background-color: #373560;
  width: 22%;
  height: 100%;
  color: #ffffff;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-item {
  padding-left: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  height: 60px;
  font-size: 18pt;
  text-decoration: none;
  color: #ffffff;
}

.nav-item:hover {
  background-color: #bac0f2;
  color: #373560;
}

.nav-item.selected {
  background-color: #dfe2f8;
  color: #373560;
}

.content {
  position: relative;
  width: 78%;
  height: 100%;
  background-color: #dfe2f8;
}

.control-bar {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /*border-bottom: 1px solid green;*/
    /*background-color: #fff;*/
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
